@import url(variables.css);
*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


.nav_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul_container{
    display: flex;
    gap: 10px;
}

.ul_container li{
    list-style-type: none;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul_container li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.selection{
    background: red;
}

li.selection a{
    color: white;
}